<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class = "panel-body center-div">
        <p></p>
        <%= simple_form_for @assignment do |f| %>
          <div class="form-group">
            <%= f.association :course, label: "Class", collection: @current_user.professorships ,required: true, input_html: {class:"form-control"} %>
          </div>

          <p></p>
          <%= f.input :name, label: "Assignment Name", required: true, input_html: {class:"form-control"} %>
          <p></p>
          <%= f.label :assignment_test, label: "Assignment test zip" %>
          <%= f.file_field :assignment_test, label: "Test directory", required: true,  class:"form-control-file" %>
          <p></p>
          <%= f.input :test_grade_weight, label: "Test grade weight", required: true, class:"form-control-file", input_html: { value: 70 } %>
          <p></p>
          <%= f.label :csv, label: "Original Grading CSV" %>
          <%= f.file_field :orig_csv, label: "Original Grading CSV",required: true,  class:"form-control-file" %>
          <p></p>
          <%= f.label :csv, label: "Resubmit Grading CSV" %>
          <%= f.file_field :resub_csv, label: "Resubmit Grading CSV",required: true,  class:"form-control-file" %>
          <p></p>
          <%= f.button :submit %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
