<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div clas = "panel-body">
        <p></p>
        <%= simple_form_for @assignment do |f| %>
          <%= f.input :class_id, label: "Class", required: true %>
          <p></p>
          <%= f.input :assignment_test, label: "Test directory" %>
          #active storage with s3
          <p></p>
          <%= f.input :due_date, label:"Due date", required: true %>
          <button type="button" class="btn btn-dark"><%= f.button :submit %></button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
