<table class="table">
  <thead class = "thead-dark">
  <tr>
    <th style="width: 10%">Student</th>
    <th style="width: 10%">Test Grade</th>
    <th style="width: 10%">TA Grade</th>
    <th style="width: 10%">Extra Credit</th>
    <th style="width: 10%">Final Grade</th>
    <% if @is_superuser && subs.first.ta != current_user %>
    <th style="width: 10%">Grading TA</th>
    <% end %>
    <th>TA Comment</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <%= form_tag assignment_grades_post_path do %>
      <% subs.each do |submission| %>
        <%= fields_for "submissions[]", submission do |f| %>
        <tr>
          <td><%= submission.student.name %></td>
          <td><%= status_or_grade(submission) %></td>
          <td><%= f.number_field :ta_grade, label: false, step: :any, input_html: {value: submission.ta_grade, width: '50%', class:"form-control"} %></td>
          <td><%= submission.extra_credit_points %></td>
          <td><%= submission.final_grade unless submission.ta_grade.nil? %></td>
          <% if is_superuser(@assignment.course.id) && subs.first.ta != current_user %>
          <td><%= submission.ta.name %></td>
          <% end %>
          <td><%= f.text_area :ta_comment, label: false,  input_html: {value: submission.ta_comment,class:"form-control"} %></td>
          <td> <%= link_to 'Edit Submission', edit_assignment_submission_path(id: submission.id, assignment_id: @assignment.id), html_options= { class: "btn btn-primary", role: "button" } if @is_superuser %> </td>
          <% if !submission.nil? %>
            <td> <%= link_to 'Download', assigments_download_path(grade: submission.zip_uri),html_options= { class: "btn btn-primary", role: "button", target: :_blank  } %> </td>
          <% else %>
            <td> No Submission </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
  </tbody>
</table>

<%= submit_tag 'Update Grades', html_options= { class: "btn btn-primary", role: "button"}%>
<% end %>
