
<table class="table">
  <thead class = "thead-dark">
  <tr>
    <th>Student</th>
    <th>Grade</th>
    <th>TA Grade</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <% @partition.each do |grade| %>
    <%= simple_form_for( grade, method: :post, url: assignment_grades_post_path) do |f| %>
      <tr>
        <td><%= grade.student.name %></td>
        <td><%= grade.grade %></td>
        <p></p>
        <td><%= f.input :ta_grade, label: "Style grade",  input_html: {class:"form-control"}, default: grade.ta_grade %></td>
        <td> <%= f.button :submit %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
