<%= button_to "Download CSV for LATTE", download_csv_assignments_path(id: @assignment.id, format: :csv), class: "btn btn-primary" %>
<table class="table">
  <thead class = "thead-dark">
  <tr>
    <th>Student</th>
    <th>Grade</th>
    <th>TA Grade</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <% @partition.each do |grade| %>
    <%= simple_form_for( grade, method: :post, url: assignment_grades_post_path) do |f| %>
      <tr>
        <%= f.input :id, as: :hidden %>
        <td><%= grade.student.name %></td>
        <td><%= grade.submission.test_grade if grade.submission %></td>
        <p></p>
        <td><%= f.input :ta_grade, label: false,  input_html: {value: grade.ta_grade,style: 'width: 100px', class:"form-control"} %></td>
        <td> <%= f.button :submit ,html_options= { class: "btn btn-primary", role: "button"}%></td>
        <% if !grade.submission.nil? %>
          <td> <%= link_to 'Download', assigments_download_path(grade: grade.submission.zip_uri),html_options= { class: "btn btn-primary", role: "button", target: :_blank  } %> </td>
          <% else %>
          <td> No Submission </td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
