<%= (button_to "Download CSV for LATTE", download_csv_assignments_path(id: @assignment.id, format: :csv), class: "btn btn-primary") if !@assignment.resubmit_id.nil? %>
<%# if is_superuser(@assignment.course.id) %>
  <%#= link_to 'Download All Assignments', download_partition_superuser_path,html_options= { class: "btn btn-primary", role: "button", target: :_blank, style: "width: 100%; margin-bottom: 20px;"  } %>
<%# end %>

<%#= link_to 'Download partition', download_partition_path,html_options= { class: "btn btn-primary", role: "button", target: :_blank, style: "width: 100%;"  } %>
<br /> <br />
<h3> <%= @grades_remaining == 0 ? 'ALL UPLOADED SUBMISSIONS GRADED' : "#{pluralize(@grades_remaining, 'grade').upcase} REMAINING" %> </h3>
<table class="table">
  <thead class = "thead-dark">
  <tr>
    <th>Student</th>
    <th>Test Grade</th>
    <th>TA Grade</th>
    <th>TA Comment</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <% @partition.each do |submission| %>
    <%= simple_form_for(submission, method: :post, url: assignment_grades_post_path) do |f| %>
      <tr>
        <%= f.input :id, as: :hidden %>
        <td><%= submission.student.name %></td>
        <td><%= status_or_grade(submission) %></td>
        <p></p>
        <td><%= f.input :ta_grade, label: false,  input_html: {value: submission.ta_grade,style: 'width: 100px', class:"form-control"} %></td>
        <td><%= f.input :ta_comment, label: false,  input_html: {value: submission.ta_comment,class:"form-control"} %></td>
        <td> <%= f.button :submit ,html_options= { class: "btn btn-primary", role: "button"}%></td>
        <% if !submission.nil? %>
          <%# if submission.zip_uri %>
            <%#puts submission.zip_uri %>
            <%#end %>
          <td> <%= link_to 'Download', assigments_download_path(grade: submission.zip_uri),html_options= { class: "btn btn-primary", role: "button", target: :_blank  } %> </td>
          <% else %>
          <td> No Submission </td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
