
<%= simple_form_for(@container) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "Container name", input_html: {class: "form-control"}, label_html: {class: "form-control-label"} %>
    <%= f.label :tar_file, label: "Container TAR file" %>
    <%= f.file_field :tar_file, label: "Container tar" , input_html: {class: 'form-control-file'}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
