<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class = "panel-body center-div">
        <p></p>
        <%= simple_form_for @submission, url: assignment_submission_path do |f| %>
          <div class="form-group">
            <%= f.association :ta, label: "TA", required: false, collection: @submission.assignment.course.tas, selected: @submission.ta.id, input_html: {class:"form-control"} %>
          </div>

          <p></p>
          <%= f.input :is_valid, label: "Valid submission?", input_html: {class:"form-control"} %>
          <hr>
          <% if @submission.assignment.has_tests %>
          <%= f.input :tests_passed, label: "Tests passed", input_html: {class:"form-control"} %>
          <%= f.input :total_tests, label: "Total # of tests", input_html: {class:"form-control"} %>
          <% end %>
          <p></p>
          <%= f.input :ta_grade, label: "TA grade", input_html: {class:"form-control"} %>
          <p></p>
          <%= f.input :late_penalty, label: "Lateness penalty", input_html: {class: "form-control"} %>
          <%#= f.input :extra_credit_points, label: "Extra credit", input_html: {class:"form-control"} %>
          <%= f.input :final_grade_override, label: "Override final grade (Overrides any resubmit calculations!)", input_html: {class: "form-control"} %>
          <%= f.input :ta_comment, label: "TA comment", input_html: {class: "form-control"} %>
          <%= f.input :comment_override, label: "Comment override", input_html: {class: "form-control"} unless @submission.is_resubmission? %>

          <%= f.button :submit, html_options= { class: "btn btn-primary", role: "button"}  %>
        <% end %>

        <%= simple_form_for @submission, url: upload_individual_submission_path(sub_id: @submission.id), method: :patch do |g| %>
          <%= g.file_field :subm_file, label: "Submission zip", accept: 'application/zip' %>
          <%= g.hidden_field :id, value: @submission.id %>
          <%= g.button :submit, "Upload new submission file", html_options= { class: "btn btn-primary", role: "button"} %>
        <% end %>
        <%= button_to "Rerun submission", rerun_submission_path(@submission), method: "post", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
