 <p id="notice"><%= notice %></p>

 <h1>My Submissions</h1>

 <table class="table">
   <thead class = "thead-dark">
     <tr>
       <th>Assignment</th>
       <th>Grade</th>
       <th>Submission</th>
     </tr>
   </thead>

   <tbody>
     <% @submissions.each do |submission| %>
       <tr>
         <td><%=submission.assignment.name %></td>
         <td><%= ! submission.grade.nil? ? submission.grade : "Pending"  %></td>
         <td><%= link_to 'Show', assignment_submission_path(assignment_id: submission.assignment.id, id: submission.id) %></td>
       </tr>
     <% end %>
   </tbody>
 </table>

 <br>



<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<!--<br />-->
<!--<br />-->
<!--<br />-->

<!--<table class = "table table-bordered table-striped">-->
<!--   <thead>-->
<!--      <tr>-->
<!--         <th>Name</th>-->
<!--         <th>Download Link</th>-->
<!--         <th> </th>-->
<!--      </tr>-->
<!--   </thead>-->



</table>
