<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @submission.grade %>
</p>

<p>
  <strong>Submission zip:</strong>
  <%= @submission.submission_zip %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
