<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= form.label :name %>
    <button type="submit" name="commit" data-disable-with="Update Name" class = "btn btn-primary">Update Name</button>
    </h3>
    <%= form.text_field :name %>
  </div>


<% end %>
