<p id="notice"><%= notice %></p>
<h1 style="text-align: left;"><%= @course.name %></h1>
<div class="row">
    <%= button_to "Edit course", edit_course_path(@course.id), method: "get", class:"btn btn-primary" %>
</div>
<br />
<% if !@recently_edited.nil? %>
<h3>Most recently updated assignment</h3>
<div class="row bg-light rounded" style=" padding:10px;">
  <div class="col col-xs-9">
    <div class="btn-align" style="">
      <p><%= @recently_edited.name %></p>
    </div>

  </div>
  <div class="col col-xs-2">
    <div class="d-flex justify-content-end align-middle">
      <div class="btn-toolbar" >
        <%= link_to "Edit", edit_assignment_path(@recently_edited), html_options= { class: "btn btn-primary", role: "button"} %>
        <%= link_to "Submissions", assignment_grades_path(@recently_edited), html_options= { class: "btn btn-primary", role: "button"} %>
      </div>
    </div>
  </div>
</div>
<%end%>
<h3 style="margin-top:1em">All assignments
<%= link_to "New Assignment", new_assignment_path, html_options= { class: "btn btn-primary", role: "button"} %>
</h3>
<br />
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Submissions</th>
    <th></th>
  </tr>
  </thead>
  <% num_students = @course.students.length %>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.name %></td>
      <td><%= assignment.submissions.where.not(submissions: {zip_uri: nil}).length%>/<%= num_students %></td>
      <td>
        <%= simple_form_for assignment, url: upload_submissions_path do |f| %>
          <%= f.file_field :subm_file, label: "Submission zip" %>
          <%= f.hidden_field :id, value: assignment.id %>
          <%= f.button :submit, "Upload submissions", html_options= { class: "btn btn-primary", role: "button"} %>
        <%end %>
        <%= link_to 'Edit', edit_assignment_path(assignment), html_options= { class: "btn btn-primary", role: "button"}  %>
        <%= link_to 'Submissions', assignment_grades_path(assignment), html_options= { class: "btn btn-primary", role: "button"}  %>
      </td>
    </tr>
  <% end %>

</table>
<%if is_ta @course.id %>
  <h3 style="margin-top:1em">Conflicts of Interest</h3>
  <div id = 'conflicts'>
    <%= render partial: 'conflicts' %>
  </div>
<% end %>