<p id="notice"><%= notice %></p>
<h1 style="text-align: left;"><%= @course.name %></h1>

<br />
<h3 style="margin-top:1em">All assignments</h3>
<br />
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Due</th>
    <th>Submit</th>
  </tr>
  </thead>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.name %></td>
      <td><%= assignment.due_date %></td>
      <td> <%= link_to 'Submit', new_assignment_submission_path(assignment), html_options= { class: "btn btn-primary", role: "button"} %></td>
    </tr>
  <% end %>

</table>
