<p id="notice"><%= notice %></p>
<h1 style="text-align: left;"><%= @course.name %></h1>
<br />
<% if !@recently_edited.nil? %>

<h3>Most recently updated assignment</h3>
<div class="row bg-light rounded" style=" padding:10px;">
  <div class="col col-xs-10">
    <div class="btn-align" style="">
      <p><%= @recently_edited.name %></p>
    </div>
  </div>
  <div class="col col-xs-2">
    <div class="d-flex justify-content-end align-middle">
      <div class="btn-toolbar" >
        <%= link_to "Submissions", assignment_grades_path(@recently_edited), html_options= { class: "btn btn-primary", role: "button"} %>
      </div>
    </div>
  </div>
</div>
<% end %>
<h3 style="margin-top:1em">All assignments</h3>
<br />
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Last updated</th>
    <th>Submissions</th>
    <th></th>
  </tr>
  </thead>
  <% num_students = @course.students.length %>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.name %></td>
      <td><%= assignment.due_date %></td>
      <td><%= assignment.submissions.length%>/<%= num_students %></td>
      <td>
        <%= link_to 'Submissions', assignment_grades_path(assignment), html_options= { class: "btn btn-primary", role: "button"}  %>
      </td>
    </tr>
  <% end %>

</table>
