<p id="notice"><%= notice %></p>
<h1 style="text-align: left;"><%= @course.name %></h1>

<br />
<h3 style="margin-top:1em">All assignments</h3>
<br />
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Due</th>
    <th>Score</th>
    <th>Submit</th>
  </tr>
  </thead>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.name %></td>
      <td><%= assignment.due_date %></td>
      <% last_subm = assignment.submissions.where(user_id: @current_user.id ).order(:created_at).last %>
      <td><%= last_subm.nil?  ? 'No Submission' : last_subm.grade.nil? ? 'pending' : last_subm.grade %></td>
      <td> <%= link_to 'Submit', new_assignment_submission_path(assignment), html_options= { class: "btn btn-primary", role: "button"} %></td>
    </tr>
  <% end %>

</table>
