<p id="notice"><%= notice %></p>

<h1>Takes Classes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @takes_classes.each do |takes_class| %>
      <tr>
        <td><%= link_to 'Show', takes_class %></td>
        <td><%= link_to 'Edit', edit_takes_class_path(takes_class) %></td>
        <td><%= link_to 'Destroy', takes_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Takes Class', new_takes_class_path %>
