#<!DOCTYPE html>
#<html>
#  <head>
#    <title>AutoGrader</title>
#    <%= csrf_meta_tags %>
#    <%= csp_meta_tag %>
#
#    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
#    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
#  </head>
#
#  <body>
#    <%= yield %>
#  </body>
#</html>

<!DOCTYPE html>
<html>
   
   <head>
      <title>Tutorialspoint</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
   </head>
   
   <body>
      <div class = "container" style = "padding-top:20px;">
         <%= yield %>
      </div>
   </body>

</html>